<!DOCTYPE html>
<html>
    <head>
        <link href="cart.component.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Reenie Beanie' rel='stylesheet'>
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    </head>
    
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <div class = "row">
        <div class = "column">
            <h3>Paxton Chai</h3>
            <p>I'm a third year computer science major who likes to play board games and video games. 
            I am half malaysian and laotian. 
            I speak mandarin and spanish.
            I enjoy hanging out with my friends and coding (sometiems).
            I like wathcing cartoons cuz I think they are cool.</p>
        </div>
        <div class = "column">
            <h3>Patrick Chen</h3>
            <p>I am a second year student at the University of Georgia where I am studying for a major in computer science and a minor in biochemistry.
                I am a pre-med student and am super interested in the integration of technology in the medical field.
                I enjoy watching anime and playing video games.
            </p>            
        </div>
        <div class = "column">
            <h3>Trudy Chen</h3>
            <p>I am a third year cybersecurity Management Information Student who loves exploring new things, places, interests, music and foods.
            I am Chinese.
            I entered college as an enlgish major but discovered a newfound passion for technology.
            I am excited to see where my curiousity in this industry takes me.</p>           
        </div>
        <div class = "column">
            <h3>Yash Royagaga</h3>
            <p>I am a third year computer science major, and I like spicy food.</p>  
        </div>
    </div>
    

</body>
</html>



