/* You can add global styles to this file, and also import other style files */
.options {
    font-weight: bold;
    font-size: 46px;
    font-family: Reenie Beanie;
   position: relative;
   top: 50px;
   left: 1000px;
}

input {
    font-weight: bold;
    font-size: 46px;
  	font-family: Reenie Beanie;
}
