<div class="body">
<div class="room-service">
    <button class="btn"><div class="button-text">ROOM SERVICE</div>
        <div class="img">
            <img class="maid-image" src="../assets/maid-image.jpg" />
        </div>
    </button>
    
</div>

<div class="toiletries">
    <button class="btn"><div class="button-text">TOILETRIES</div>
        <div class="img">
            <img class="toiletries-image" src="../assets/toiletries-image.jpg" />
        </div></button>
</div>

<div class="food">
    <button class="btn"><div class="button-text">FOOD</div>
        <div class="img">
    <img class="food-image" src="../assets/food-image.jpg" />
</div></button>
    
</div>

</div>