<link href='https://fonts.googleapis.com/css?family=Reenie Beanie' rel='stylesheet'>
<div class="options">
  <form>
    <p> Tops </p>
     <input type="radio" id="1" name="fav_language" value="1">
     <label for="1">1</label><br>
     <input type="radio" id="2" name="fav_language" value="2">
     <label for="2">2</label><br>
     <input type="radio" id="3" name="fav_language" value="3">
     <label for="3">3</label>
    <p> Bottoms </p>
    <input type="radio" id="1b" name="fav_language" value="1">
    <label for="1">1</label><br>
    <input type="radio" id="2b" name="fav_language" value="2">
    <label for="2">2</label><br>
    <input type="radio" id="3b" name="fav_language" value="3">
    <label for="3">3</label>
    <p><input type="submit" value="Submit"></p>
  </form>
</div>
