 .home-input {
  text-align: center;


}
h1 {
  font-size: 80px;
}
.slogan{
color: #123C69;
position: absolute;
top: 150px;
left: 640px;
text-align: center;
font-size: 30px;
}
.tappy {
color: #123C69;
position: absolute;
top: 30px;
left: 630px;
text-align: center;
font-size: 30px;
}
img{
  height: 140px;
  width: 90px;
}
.penguins{
  position: absolute;
  top: 90px;
  left: 520px;

}
input{
color: #AC3B61 !important;
    border:1px white;
    position: relative;
    top: 280px;
    left:10px;
}
input[type="text"]
 {
    font-family: serif;
    font-size:46px;
}

textarea:focus, input:focus{
    outline: 0;
}

.text-box {
  margin-left: 44vw;
  	 margin-top: 42vh;
}
/* .text-box {
    margin-left: 44vw;
	 margin-top: 42vh;
} */
