 .home-input {
  text-align: center;
  
  
}
input{
color: #AC3B61 !important;
    border:1px white;
    position: relative;
top: 350px;
}
input[type="text"]
 {
    font-family: serif;
    font-size:46px;
}

textarea:focus, input:focus{
    outline: 0;
} */

.box{
      /* position: relative; */
      top:2px;
     float: right;
}

.text-box {
  text-align: center;
} 
/* .text-box {
    margin-left: 44vw;
	 margin-top: 42vh;
} */
