.brand {
    font-size: 96px;
  	font-family: Reenie Beanie;
    font-style: normal; 
    font-variant: normal;
    margin: 0px;  
    text-align: center;
}

.logo {
	/* display:flex;
  flex-direction: row; */
  margin: 0 px;
  text-align: center;
}